@font-face {
  font-family: 'Avenir LT Pro';
  font-style: oblique;
  font-weight: 300;
  src: url('../assets/fonts/AvenirLTProOblique.otf') format('opentype');
}
@font-face {
  font-family: 'Avenir LT Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/AvenirLTProRoman.otf') format('opentype');
}
@font-face {
  font-family: 'Avenir LT Pro';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/AvenirLTProMedium.otf') format('opentype');
}
@font-face {
  font-family: 'Avenir LT Pro';
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/AvenirLTProHeavy.otf') format('opentype');
}
